*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
body{
	color:#0D0C0C
}
.container{
	width:1000px;
	margin:0 auto
}
.row{
	display:flex;
	flex-wrap: wrap
}
.justify-between{
	display: flex;
	justify-content: space-between
}

.justify-end{
	display: flex;
	justify-content: flex-end;
}
.align-center{
	display: flex;
	align-items: center
}
.align-center{
	display: flex;
	align-self: center
}
.align-self-end{
	display: flex;
	align-self: flex-end
}
.row>[class*="col-"]{ padding:10px}
.col-1{
	width:8.33%
}
.col-2{
	width:16.66%
}
.col-3{
	width:25%
}
.col-4{
	width:33.33%
}
.col-5{
	width:41.66%
}
.col-6{
	width:50%
}
.col-7{
	width:58.33%
}
.col-8{
	width:66.66%
}
.col-9{
	width:75%
}
.col-10{
	width:83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width:100%
}
