@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Lora&family=Uchen&display=swap');
body{
	font-family: 'Lora', serif;
}
.header{
	background:rgba(255,255,255,1.00);
	position: absolute;
	width: 100%;
	z-index: 100
}
.logo img{
	width:100%;
	height: 100%;
}
.nav ul{
	list-style: none;
}
.nav{
	Display:flex;
Justify-content:flex-end
}
.nav li{
	padding: 0 25px;
	float:left;
}
.nav li a{
	color:black;
	text-decoration: none;
}
.nav li a:hover{
	color: grey
}
.banner{
	height:100vh;
	overflow: hidden;
	position: relative
}
.banner video{
	width: 100%;
	height:100%;
	object-fit: cover
}
.content{
	text-align: center;
	position: absolute;
	padding: 20px;
	color:rgba(15,15,15,1.00);
	top: 50%;
	left:50%;
	transform: translate(-50%);
	background: rgba( 255, 255, 255, 0.25 );
}
.content p {margin-bottom: 25px}
.btn{
	text-decoration: none;
	color: white;
	background: rgba(111,109,255,1.00);
	padding: 10px 20px; 
}
.bacground{
	width:100%;
	height:100vh;
	background-image: url("video/4821a2cd8e5852d0ac756769880b495e.jpg");
	background-attachment: fixed
}
.ss1{
	width:100%;
	height: 600px;
	background: rgba(0,90,21,1.00)
}
.feature{
	height:550px;
	overflow: hidden;
	padding:50px 0px
}
.feature img{ 
	height:100%
}
.content-1{
	width:100%;
	padding:40px
	
}
.content-1{
	letter-spacing: 5px;
	color: white;
}
.ss2{
	width:100%;
}
.box {width:100%;
	padding: 0 10px;
	
}
.feature-2 img{
	width: 100%;
	overflow: hidden
}
.feature-2 img{height:100%}
.ss3{color:white;
	background:#005A15;
	width: 100%;
	height: 500px;
}
.ss3{
	padding:30px}
.ss3 img{margin:20px 0}